.search-result {
    height: calc(100vh - 56px);
    flex-wrap: nowrap;
}

.search-result > .card {
    flex: 0 1 250px;
}

.search-result > .card > .list-group,
.search-result > .card > .card-body {
    overflow: auto;
}

.search-result > .package-details {
    flex: 1 1 600px;
}
